/*
 * CSS Styles for DragDrop
 *
 * KP
 * May 5, 2021
 */

body {
	font-size: 1.1em;
}


.widebutton {
	font-size: 1.1em;
	width: 100%;
}

.halfwidebutton {
	font-size: 1.1em;
	width: 45%;
}

/*
pre {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 1.1em;
	white-space: pre-line;
	font-weight: bold;
}
*/

.grid-results {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1px; /*3px;*/
}

.grid-results-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  paddding: 0px; /*2px;*/
  
}

.selected{
	color:blue;
	border:4px solid blue;
	white-space: pre;
}
.notselected{
	color:black;
	border:0px solid white;
	white-space: pre;
}